


<div class="container d-flex align-items-center justify-content-between">
 
  <!-- Modal -->
 
    <h1 class="logo"><a href="index.html">UMBDANDA</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">HOME</a></li>
        <li><a class="nav-link scrollto" href="#about">ATENDIMENTOS</a></li>
        <li><a class="nav-link scrollto" href="#services">SERVIÇOS</a></li>
        <li><a class="nav-link scrollto " href="#portfolio">PRODUTOS</a></li>
        <li><a class="nav-link scrollto" href="#team">TIME</a></li>
        <li class="dropdown"><a href="#"><span>ORIXAS e ENTIDADES</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="/home/login">OGUM</a></li>
            <li><a href="#">OBALUAE</a></li>         
            <li><a href="#">OXUM</a></li>
            <li><a href="#">IEMANJA</a></li>
            <li><a href="#">IANSA</a></li>
            <li><a href="#">OXOSSI</a></li>
            <li><a href="#">XANGO</a></li>
            <li><a href="#">NANA</a></li>
            <li class="dropdown"><a href="#"><span>ESQUERDA/GUARDIÕES(A)</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">O GUARDIÃO DA MEIA NOITE</a></li>
                <li><a href="#">EXU-TIRIRI</a></li>
                <li><a href="#">POMBOGIRA - DAMA DA NOITE</a></li>              
              </ul>
            </li>
          </ul>
        </li>
      
        <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
        <!-- <li><a class="getstarted scrollto" data-toggle="modal" data-target="#myModal" href="#">LOGIN</a></li> -->
        <a href="" class="f-w-400">GIRAS</a></p>
      </ul>
    
    </nav><!-- .navbar -->

  </div>


</div>