<div class="hero-container" data-aos="fade-up" data-aos-delay="150">
    <h1>A umbanda e PAZ e AMOR</h1>
    <h2>Tenda de Umbanda Mamãe OXUM e Baiana Madalena</h2>
    <h2>Pagando o mal com o bem e a mentira com verdade.</h2>
    <div class="d-flex">
      <a href="#about" class="btn-get-started scrollto">AGENDAMENTO - ESQUERDA</a>
      <a href="https://www.youtube.com/watch?v=QcrFIL2aZ0c" class="glightbox btn-watch-video">
        <i class="bi bi-play-circle"></i><span>BAIANOS</span></a>
    </div>
  </div>